.item {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.item button {
    padding: 4px;
    border-radius: 4px;
    border: none;
    color: black;
    background-color: blue;


}

.item button:hover {
    background-color: green;
    color: white;
}